/* You can add global styles to this file, and also import other style files */

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrfL-SVb9-0bJizHP-rKik_CgnRVV5hPYY7g&s);
  background-repeat: no-repeat;
  background-position: center;
}
